.zig-cache
zig
zig-out/bin
build_err.txt
test.zig
debug_err.txt
err_default.txt
err_raw.txt
out_custom.txt
out_default.txt
out_raw.txt
out_timed.txt
out.txt
build.log
build.txt
fast_reader.obj
dist
zig-out/web
# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
